@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ava Williams Photography</title>
    <!-- Additional meta tags, stylesheets, or scripts can be added here -->
</head>

<body>
    <main>
        <h3>Hello! My name is Ava Williams.</h3>
        <p>One of my hobbies is photography.
            I got my first DSLR camera when I was 12 
            and have loved taking photos ever since.
        </p>
        <h3>My main focus is taking pictures of people.</h3>
        <p>
            I like taking senior photos, maternity photos,
            misson photos, and more. I've also done some retail
            photography and had a fun time doing that as well.
        </p>
        <h3>Here are a couple of photos I have taken.</h3>
        <img src="~/img_0218.jpg" height="300px"/>
        <img src="~/img_0595.jpg" height="300px"/>
        <p>
            The first photo is from when I was shooting merchandise (the clothes). 
            The second one is from a senior photoshoot with my bestfriend:)
        </p>

    </main>

    <footer>
        <!-- Footer content, such as copyright information, links, etc. -->
    </footer>

    <!-- Additional scripts or links to external resources can be included at the end of the body -->

</body>

</html>
