@{
    ViewData["Title"] = "Pricing Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Want to learn from me? Use this calculator to figure out how much I would charge!</p>

<div>
    <label for="hours">Number of Hours:</label>
    <input type="number" id="hours" min="0" step="1" />
    <span id="hoursError" style="color: red;"></span>
</div>
<br>
<div>
    <label>Charge per Hour:</label>
    <input type="text" id="chargePerHour" value="$1000 :) " readonly />
</div>
<br>
<button id="calculateBtn">Calculate Total</button>
<br>
<br>
<div>
    <label>Total:</label>
    <input type="text" id="total" readonly />
</div>
<br>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/site.js"></script>